@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300;1,300&display=swap');

.App {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  background-color: #dff7f7;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}


